/**
 * @file   星盘公共样式
 * @author yumeng02
 * @creattime   2016-06-24
 * @endtime   2016-06-24
 */
/* ********************************************************************************************** */
/* **************************************全局样式************************************************** */
/* ********************************************************************************************** */

* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    min-height: 100%;
    height: auto;
    background-color: #fff;
}
body,
p,
form,
input,
button,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    list-style: none;
}

body,
button,
input,
select,
textarea {
    font: 12px "Microsoft YaHei", Arial, Helvetica, sans-serif;
    color: #333;
}

a {
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

a:hover {
    color: #ffc20a;
}

img {
    border: 0;
}

em {
    font-style: normal;
}

input,
button,
select {
    vertical-align: middle;
    font: 12px Microsoft YaHei, Arial, simsun, Helvetica, sans-serif;
}

input {
    border: none;
}

input:focus {
    outline: none;
}
a,a:hover,a:focus,a:link,a:visited{
    outline: none;
}
i{
    font-style: normal;
    vertical-align: middle;
}
.blue_color {
    color: #06c !important;
}

.com_color {
    color: #fcc900 !important;
}
.H,.h {
    color: #FA0 !important;
}
.hidden{
    display: none !important;
}
.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.clear, .clr {
    display: block;
    overflow: hidden;
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
}
.clr {
    visibility: hidden;
}
.clearfix {
    *zoom: 1;
    zoom: 1;
}
.m, .mb, .mc, .mt, .p-detail, .p-img, .p-market, .p-name, .p-price, .sm, .smb, .smc, .smt {
    overflow: hidden;
}
.pa {
    position: absolute;
}

.pr {
    position: relative;
}

.db {
    display: block;
}

.dib {
    display: inline-block;
}

.di {
    display: inline;
}

.dn {
    display: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}
.h10{
    display: block;
    height: 10px;
    width: 100%;
}
.m-t{
    margin-top: 10px;
}
.m-t-big{
    margin-top: 15px;
}
.m-t-sm{
    margin-top: 5px;
}
.m-t-xs{
    margin-top: 3px;
}
.m-b{
    margin-bottom: 10px;
}
.m-b-big{
    margin-bottom: 15px;
}
.m-b-sm{
    margin-bottom: 5px;
}
.m-b-xs{
    margin-bottom: 3px;
}

.m-l{
    margin-left: 10px;
}
.m-l-big{
    margin-left: 15px;
}
.m-l-sm{
    margin-left: 5px;
}
.m-l-xs{
    margin-left: 3px;
}
.m-r{
    margin-right: 10px;
}
.m-r-big{
    margin-right: 15px;
}
.m-r-sm{
    margin-right: 5px;
}
.m-r-xs{
    margin-right: 3px;
}
.ui_icon {
    display: inline-block;
    zoom: 1;
}